.contact-form {
    width: 100%;
    background: #fff; }
    /* line 10, ../sass/_contact.scss */
    .contact-form .sub {
      width: 850px;
      margin: 0 auto; }   
    /* line 23, ../sass/_mixin.scss */
    .contact-form .form-area:after {
      content: "";
      display: block;
      visibility: hidden;
      height: 0.1px;
      font-size: 0.1em;
      line-height: 0;
      clear: both;
      zoom: 1; }
    /* line 109, ../sass/_contact.scss */
    .contact-form .form-area dl {
      width: 100%;
      margin: 0 auto; }
      /* line 23, ../sass/_mixin.scss */
      .contact-form .form-area dl:after {
        content: "";
        display: block;
        visibility: hidden;
        height: 0.1px;
        font-size: 0.1em;
        line-height: 0;
        clear: both;
        zoom: 1; }
      /* line 113, ../sass/_contact.scss */
      .contact-form .form-area dl dt, .contact-form .form-area dl dd {
        margin-top: 25px;
        border-top: 1px solid #efefef;
        padding-top: 25px; }
      /* line 119, ../sass/_contact.scss */
      .contact-form .form-area dl dt {
        clear: both;
        width: 20%;
        float: left;
        font-size: 14px;
        padding-top: 35px; }
        /* line 126, ../sass/_contact.scss */
        .contact-form .form-area dl dt span {
          font-size: 10px;
          padding: 3px 8px;
          margin: 0 8px 0 0;
          background: #A35833;
          color: #fff; }
          /* line 133, ../sass/_contact.scss */
          .contact-form .form-area dl dt span.nini {
            background: #666; }
      /* line 139, ../sass/_contact.scss */
      .contact-form .form-area dl dd {
        width: 78%;
        float: right; }
        /* line 142, ../sass/_contact.scss */
        .contact-form .form-area dl dd span {
          display: block;
          font-size: 12px;
          font-weight: bold;
          color: #464646;
          padding-top: 12px;
          padding-bottom: 4px; }
    /* line 152, ../sass/_contact.scss */
    .contact-form .form-area p.btn {
      text-align: center;
      margin-top: 45px; }
    /* line 158, ../sass/_contact.scss */
    .contact-form input[type="text"],
    .contact-form textarea {
      border: none;
      border-bottom: 1px solid #BBB4AB;
      padding: 10px;
      width: 80%;
      box-sizing: border-box;
      font-size: 18px; }
      /* line 167, ../sass/_contact.scss */
      .contact-form input[type="text"]:focus,
      .contact-form textarea:focus {
        outline: none;
        border-bottom: 1px solid #fff;
        box-shadow: 0 0 5px #666; }
    /* line 173, ../sass/_contact.scss */
    .contact-form input[type="submit"] {
      font-size: 18px;
      display: inline-block;
      background: #A35833;
      text-align: center;
      height: 50px;
      color: #fff;
      border: none;
      width: 50%;
      cursor: pointer }
    /* line 186, ../sass/_contact.scss */
    .contact-form .custom {
      width: 80%;
      margin: 0 auto 0;
      overflow: hidden;
      display: inline-block;
      position: relative;
      border-radius: 0.2em;
      border: 1px solid #BBB4AB;
      background: #fff;
      position: relative; }
      /* line 199, ../sass/_contact.scss */
      .contact-form .custom p.prt {
        position: absolute;
        right: 12px;
        top: 12px; }
        /* line 203, ../sass/_contact.scss */
        .contact-form .custom p.prt img {
          width: 18px;
          height: 12px; }
    /* line 209, ../sass/_contact.scss */
    .contact-form .custom > select {
      width: 130%;
      padding: 0.6em 2.4em 0.6em 0.6em;
      font-size: 1rem; }
    /* line 214, ../sass/_contact.scss */
    .contact-form .custom:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1.8em;
      display: block;
      content: "";
      pointer-events: none; }
    /* line 225, ../sass/_contact.scss */
    .contact-form select {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border-radius: 0;
      border: 0;
      margin: 0;
      padding: 0;
      background: none transparent;
      vertical-align: middle;
      font-size: inherit;
      color: inherit;
      box-sizing: content-box; }

      .contact-form .em {
        color: lightcoral;
        font-size: 0.9em;
        height: 10px;
        margin: 0;
      }